<%= form_for(@numerical) do |f| %>
  <% if @numerical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@numerical.errors.count, "error") %> prohibited this numerical from being saved:</h2>

      <ul>
      <% @numerical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
